<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>School Online Billing System</title>
</head>
<body>

<div align="center">
	<h1>Student List</h1>
	<table border="1">
		<thead>
			<tr>
				<th> First Name </th>
				<th> Last Name </th>
				<th> Grade </th>
				<th> Address </th>
				<th> Date of Birth </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${listCustomers}">
				<td th:text="${student.firstName}"></td>
				<td th:text="${student.lastName}"></td>
				<td th:text="${student.grade}"></td>
				<td th:text="${student.address}"></td> 
				<td th:text="${student.dob}"></td> 
		</tbody>
	</table>
</div>
</body>
</html>