<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Invoice</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
		<h2> Invoice </h2>
	
		<div align="center">
    
    		<span>Invoice Number : </span>
    		<span th:text="${user.name}"></span><br/>
    
    		<span>Date :</span>
    		<span th:text="${user.email}"></span><br/>
    
    		<span>Amount :</span>
    		<span th:text="${user.password}"></span><br/>
    
		</div>
		
	</div>
</body>
</html>