<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Students</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
		<h1> Student Registration</h1>
		<hr>
		<h2>Add Student</h2>
		
		<form action="#" th:action="@{/addStudent}" th:object = "${student}" method="POST" >
		
			<label> First Name : </label> 
			<input type="text" th:field="*{firstName}" placeholder="Student First Name" 
			class="form-control mb-4 col-4">
			
			<label> Last Name : </label> 
			<input type="text" th:field="*{lastName}" placeholder="Student Last Name" 
			class="form-control mb-4 col-4">
			
			<label> Grade : </label> 
			<input type="number" th:field="*{grade}" placeholder="Student Grade" 
			class="form-control mb-4 col-4">
			
			<label> Address: </label> 
			<input type="text" th:field="*{address}" placeholder="Student Address" 
			class="form-control mb-4 col-4">
			
			<label> Date of Birth : </label> 
			<input type="text" th:field="*{dob}" placeholder="YYYY-MM-dd" 
			class="form-control mb-4 col-4">
			
<!-- 			<label> Registration Type: </label> <br>
			<select th:field="*{regType}" class="form-control mb-4 col-4">
    			<option th:value="'Tution Plan'" th:text="Tution Plan"></option>
    			<option th:value="'Record Keeping'" th:text="Record Keeping"></option>
			</select> -->
			
			<!-- <select th:field="*{school.schoolId}">
							<option value="">-- </option>
							<option th:each="school: ${school}"
									th:value="${school.schoolId}"
									th:utext="${school.schoolName}"></option>
						</select>  -->
			<br>
			<button type="submit" class="btn btn-info col-2"> Save Student</button>
			
			<hr>
			<a th:href="@{/getStudentList}"> Back </a>
			<br> <br>
		</form>
	</div>
</body>
</html>